/* color palette from <https://github.com/vuejs/theme> */
:root {
  --teal: #03eab3;
  --orange: #ffae00;
  --teal-dark: #03cfa0;
  --white: #fff;
  --black: #181818;
  --light-gray: #f8f8f8;
}

body {
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-spacing: 0;
}
